.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.img {
  width: 300px;
  height: 300px;
  margin-top: 50px;
}

.textoFrase {
  font-style: italic;
  color: #dd7b22;
  text-align: center;
}

.Botao {
  width: 133px;
  height: 25px;
  background-color: #f0d0ac;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 7px 9px;
  cursor: pointer;
}
